@*@model HttpPostedFileBase

@Html.LabelFor(m => m, new { @class = "m-b-none" })
@Html.DescriptionFor(m => m)
<div class="input-group">
    <span class="input-group-addon">
        <label class="fa fa-upload" for="my-file-selector" style="cursor: pointer; padding-top: 1px;" title="Click to select a file for upload">
            <input id="my-file-selector" type="file" style="display: none;" name="@Html.NameFor(x => x)"
                   onchange="$('#upload-file-info').val(this.files[0].name)">
        </label>
    </span>
    <input id="upload-file-info" class="form-control upload-file-info" readonly="readonly" type="button" value="" onclick="$('.file-upload').click()" />
    @Helpers.ValidationIcon()
</div>
@Html.ValidationMessageFor(x => x, null, new { @class = "validation-message" })*@